<div class="wrapper containerCredits">
  <section id="home" class="sec-main">
    <h1 class="main-heading">Azure Digital Twins - NTT DATA </h1>
  </section>

  <section id="about" class="sec-about">
    <div class="container">
      <h1>Nuestro equipo</h1>
      <hr />
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-services">
    <div class="container">
      <h1>Tecnologías</h1>

      <hr />
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa-tablet"></i>
          <h2 class="h3">Azure Digital Twins</h2>
          <p>Plataforma como servicio (PaaS) que permite la creación de grafos gemelos basados en modelos digitales de
            entornos completos, que pueden ser edificios, fábricas, granjas, redes energéticas, ferrocarriles, estadios
            y mucho más, incluso ciudades enteras.</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-4x fa-paint-brush"></i>
          <h2 class="h3">Micro-Frontend</h2>
          <p>El microfrontend es un tipo de arquitectura donde se divide una aplicación web en diferentes módulos o
            funciones individuales, implementados de manera autónoma</p>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-4x fa-code"></i>
          <h2 class="h3">Signal-R</h2>
          <p>SignalR es una biblioteca de software gratuita y de código abierto para Microsoft ASP.NET que permite que
            el código del servidor envíe notificaciones asincrónicas a las aplicaciones web del lado del cliente</p>
        </div>
      </div>
    </div>
  </section>
</div>